{% liquid
  assign product_form_id = 'product-form-' | append: section.id
  assign selected_variant = product.selected_or_first_available_variant
%}

<style>
  [x-cloak] {
    display: none !important;
  }
</style>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% if product.variants.size > 1 %}
{% comment %} Variant Selector {% endcomment %}
<div class="flex justify-between items-center mb-3 !mt-6">
  <h2 class="m-0 text-base font-semibold">Select Size:</h2>
  <div class="text-sm italic text-gray-500">80% of customers buy 50ml or more</div>
</div>

<div
  class="grid grid-cols-4 gap-3"
  id="variant-selector"
  x-data
>
  {% for variant in product.variants %}
    {% assign size = variant.title | remove: 'ML' %}
    {% assign size_int = size | times: 1 %}
    {% assign price_in_dollars = variant.price | times: 0.01 %}
    {% assign per_ml = price_in_dollars | divided_by: size_int | round: 2 %}
    <button
      type="button"
      class="variant-button flex flex-col items-center gap-1 rounded-lg p-2 pt-3 bg-white border-2 border-solid border-gray-200 cursor-pointer font-['Figtree'] relative"
      @click="$store.bundleBuilder.selectedVariant = '{{ variant.title }}'; $store.bundleBuilder.variantId = '{{ variant.id }}'"
      :class="'{{ variant.title }}' === $store.bundleBuilder.selectedVariant ? 'border-green-700' : ''"
    >
      {% if variant.image %}
        <div class="size-12 mx-auto">
          <img
            src="{{ variant.image | image_url: width: 100, height: 100, crop: 'center' }}"
            alt="{{ variant.title }}"
            width="100"
            height="100"
            class="size-12 object-cover"
            loading="lazy"
          >
        </div>
      {% endif %}
      <span class="text-sm font-semibold">{{ variant.title }}</span>
      <span class="text-xs text-gray-600">
        {{- cart.currency.symbol -}}
        {{- per_ml }} Per Spray</span
      >
      {% if variant.title == '50ML' %}
        <span class="text-xs italic text-white rounded absolute -top-2.5 left-1/2 [transform:translateX(-50%)] bg-[#c8202f] px-2 py-0.5"
          >Popular</span
        >
      {% endif %}
      {% if variant.title == '100ML' %}
        <span class="text-xs italic text-white rounded absolute -top-2.5 left-1/2 [transform:translateX(-50%)] bg-[#22613a] px-2 py-0.5"
          >Bestseller</span
        >
      {% endif %}
    </button>
  {% endfor %}
</div>
{% endif %}
{% comment %} Add to cart form {% endcomment %}
<product-form
  class="product-form !m-0"
  data-hide-errors="{{ gift_card_recipient_feature_active }}"
  data-section-id="{{ section.id }}"
>
  {%- form 'product',
    product,
    id: product_form_id,
    class: 'form',
    novalidate: 'novalidate',
    data-type: 'add-to-cart-form'
  -%}
    <input
      x-data
      type="hidden"
      name="id"
      x-model="$store.bundleBuilder.variantId"
      value="{{ selected_variant.id }}"
      class="product-variant-id"
    >
    {% if product.metafields.custom.choose_your_fragrances_options != blank %}
    <div class="choose-fragrances-container">
      <p><strong>Choose your fragrances:</strong></p>
      {% for loop in (1..product.metafields.custom.choose_your_fragrances_options) %}
        <div class="choose-fragrances-opts choose-fragrances-opt-{{ forloop.index }} ">
          <label class="form__label" for="Bottle-{{ forloop.index }}">Bottle {{ forloop.index }}:</label>
          <div class="select">
            <select id="Bottle-{{ forloop.index }}" class="select__select" name="properties[Bottle {{ forloop.index }}]">
              {% for product in collections.all.products %}
                {% assign sel_var = selected_variant.title %}
                {% for variant in product.variants %}
                  {% if variant.title contains '100' %}
                    {% assign sel_var = variant.title %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                <option value="{{ product.title }} - {{ sel_var }}">{{ product.title }} - {{ sel_var }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
    <button
      x-data
      type="submit"
      name="add"
      value="1"
      class="atc-button cta_product_from_submit_btn flex flex-wrap items-center !mb-0 text-2xl !pb-3 !pt-3 rounded-lg button bg-[#22613a] hover:bg-[#368856] transition-colors shadow-xl tracking-normal button--full-width button--primary"
      aria-label="Add to cart"
    >
      <span>Add to cart</span>
      <div class="ml-2 pl-2 border-0 border-l flex items-center border-solid border-gray-200/20">
        <div
          class="inline-block text-lg bg-[#1E5834] px-3 rounded"
          id="product-price"
          role="status"
          {{ block.shopify_attributes }}
        >
          {% if selected_variant.compare_at_price > selected_variant.price %}
            <span
              class="compare-price line-through text-white/50 text-base"
              x-html="$store.bundleBuilder.compareAtPrice"
            ></span>
          {% endif %}
          <span class="current-price" x-html="$store.bundleBuilder.originalPrice"></span>
        </div>
      </div>
      {%- render 'loading-spinner' -%}
    </button>
  {%- endform -%}
</product-form>

{% unless product.tags contains 'Hide_Bundle' %}
 {% comment %} Bundle builder {% endcomment %}
  <div x-data>
    <div
      x-show="$store.bundleBuilder.selectedVariant !== '7.5ML'"
      class="border border-solid border-gray-200 bg-white rounded-lg p-6 mb-6"
    >
      <h2 class="text-xl md:text-2xl text-gray-900 my-0 text-center tracking-normal font-semibold flex items-center justify-center gap-2">
        Buy 2 Get 1 FREE
        <span class="bg-red-600 text-white px-2 rounded font-bold">Save 33%</span>
      </h2>
      <p class="text-lg text-gray-700 font-semibold mt-0 mb-4 text-center tracking-normal">
        Build your bundle and get one scent for FREE!
      </p>
      <div class="grid grid-cols-3 gap-4">
        <template x-for="(product, index) in $store.bundleBuilder.selectedProducts" :key="product.id">
          <div class="text-center relative">
            <div class="flex justify-center mb-4 border-2 border-solid border-green-700 rounded-lg">
              <button
                @click="$store.bundleBuilder.removeProduct(index)"
                class="absolute top-2 right-2 w-6 h-6 p-0 flex items-center justify-center bg-white rounded-full text-xs cursor-pointer border-0 shadow"
              >
                <svg
                  width="10"
                  height="12"
                  viewBox="0 0 10 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M9.92817 2.16875C9.85317 1.8875 9.80317 1.73125 9.80317 1.73125C9.72192 1.44063 9.51567 1.44062 9.20942 1.39062L7.55005 1.18125C7.3438 1.14688 7.3438 1.14688 7.26255 0.96875C6.99067 0.35625 6.9063 0 6.60942 0H3.39067C3.0938 0 3.01255 0.35625 2.74067 0.971875C2.65942 1.14687 2.65942 1.14688 2.45317 1.18438L0.790672 1.39375C0.487547 1.44375 0.268797 1.47188 0.187547 1.7625C0.187547 1.7625 0.150047 1.89062 0.0719217 2.16875C-0.0280783 2.54062 -0.0687033 2.5 0.275047 2.5H9.72505C10.0688 2.50312 10.0313 2.54062 9.92817 2.16875ZM8.8563 3.5H1.1438C0.625047 3.5 0.600047 3.56875 0.631297 3.95937L1.21567 11.5406C1.26567 11.925 1.30317 12.0031 1.76255 12.0031H8.23755C8.69692 12.0031 8.73442 11.925 8.78442 11.5406L9.3688 3.95937C9.40005 3.56562 9.37505 3.5 8.8563 3.5Z" fill="#868686" />
                </svg>
              </button>
              <img
                :src="product.image"
                :alt="product.name"
                class="w-full aspect-square object-cover rounded-lg"
                width=""
                height=""
              >
            </div>
            <h4 class="font-bold text-gray-900 my-0 uppercase" x-text="product.name"></h4>
            <p class="text-gray-900 my-0" x-text="product.price"></p>
          </div>
        </template>
        <template x-for="i in (3 - $store.bundleBuilder.selectedProducts.length)" :key="i">
          <div class="text-center">
            <div class="border-2 border-dashed bg-white border-gray-300 rounded-lg grid place-items-center w-full aspect-square">
              <button
                @click="$store.bundleBuilder.showModal = true"
                class="w-16 h-16 border-0 bg-green-700 text-white rounded-lg text-2xl hover:bg-green-700 transition-colors cursor-pointer"
              >
                <div class="svg-wrapper">
                  {{- 'icon-plus.svg' | inline_asset_content -}}
                </div>
              </button>
            </div>
            <p class="text-gray-700 mt-4 font-medium mb-0">Add Scent</p>
          </div>
        </template>
      </div>
    </div>
  </div>
{% endunless %}
{% assign bundle_collection = collections.all %}
{% unless bundle_collection %}
  {% assign bundle_collection = collections.first %}
{% endunless %}

<script>
  document.addEventListener('alpine:init', function() {
    const variantsObj = {
      {% for variant in product.variants %}
        "{{ variant.title }}": {
          originalPrice: "{{ variant.price | money }}",
          compareAtPrice: "{{ variant.compare_at_price | money }}"
        },
      {% endfor %}
    };
    Alpine.store('bundleBuilder', {
      selectedVariant: "{{ selected_variant.title }}",
      variantId: "{{ selected_variant.id }}",
      showModal: false,
      activeCategory: "All",
      selectedBrand: "",
      searchText: "",
      addingToCart: false,
      selectedProducts: [],
      availableProducts: [
        {% for bundle_product in bundle_collection.products %}
          {
            id: {{ bundle_product.id }},
            name: "{{ bundle_product.title }}",
            image: "{{ bundle_product.featured_image | image_url }}",
            ratingCount: "{{ bundle_product.metafields.reviews.rating_count }}",
            tags: {{ bundle_product.tags | json }},
            variants: {
              {% for variant in bundle_product.variants %}
                "{{ variant.title }}": {
                  id: {{ variant.id }},
                  originalPrice: "{{ variant.price | money }}"
                },
              {% endfor %}
            }
          },
        {% endfor %}
      ],
      get originalPrice() {
        return variantsObj[this.selectedVariant].originalPrice;
      },
      get compareAtPrice() {
        return variantsObj[this.selectedVariant].compareAtPrice;
      },
      addRemoveProduct(product) {
        if (this.selectedProducts.length < 3 && !this.isProductSelected(product.id)) {
          this.selectedProducts.push(product);
          if (this.selectedProducts.length === 3) {
            // this.showModal = false;
            this.addBundleToCart();
          }
        } else {
          this.removeProduct(this.selectedProducts.findIndex(item => item.id === product.id));
        }
      },
      removeProduct(index) {
        this.selectedProducts.splice(index, 1);
      },
      isProductSelected(productId) {
        return this.selectedProducts.some(product => product.id === productId);
      },
      addBundleToCart() {
        this.addingToCart = true;

        let checkoutURl = '/cart/';
        this.selectedProducts.forEach((product, index) => {
          if (index === 0) {
            checkoutURl += `${product.variants[this.selectedVariant].id}:1`;
          } else {
            checkoutURl += `,${product.variants[this.selectedVariant].id}:1`;
          }
        });

        window.location.href = checkoutURl;
        setTimeout(() => {
          this.addingToCart = false;
        }, 3000);
      }
    });
  });
</script>
