{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
      <span>
        {{- 'icon-hamburger.svg' | inline_asset_content -}}
        {{- 'icon-close.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="list-none px-6 m-0" role="list">
              {% for link in linklists[section.settings.menu].links %}
                <li>
                  <a
                    id="HeaderMenu-{{ link.handle }}"
                    href="{{ link.url }}"
                    class="header__menu-item list-menu__item link link--text focus-inset !pl-0 {% unless forloop.last %}border-0 border-b border-solid border-gray-200{% endunless %}">
                    <span>{{ link.title }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </details>
</header-drawer>